@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Job

<h3>Add Task:</h3>

<form method="post">

    <input asp-for="JobId" type="hidden" />

    <div class="row">

        @* Job (Required) *@
        <div class="col-6">
            <label asp-for="JobName" class="form-label">Task Name:</label>
            <input asp-for="JobName" class="form-control"/>
        </div>

        @* Due Date (Not Required) *@
        <div class="col-6">
            <label asp-for="DueDate" class="form-label">Due Date:</label>
            <input asp-for="DueDate" class="form-control" type="date" />
        </div>

    </div>

    <div class="row">

        @* Quadrant (Required) *@
        <div class="col-6">
            <label asp-for="Quadrant" class="form-label">Quadrant:</label>
            <input asp-for="Quadrant" class="form-control" />
        </div>

        @* Category (Not Required, Dropdown: Home, School, Work, Church) *@
        <div class="col-6">
            <label asp-for="CategoryId" class="form-label">Category:</label>
            <select asp-for="CategoryId" class="form-select form-select-md">
                @foreach (Category c in ViewBag.Categories)
                {
                    <option value="@c.CategoryId">@c.CategoryName</option>
                }
            </select>
        </div>

    </div>

    <div class="row">

        @* Completed (Not Required, True/False) *@
        <div class="col-6">
            <label asp-for="Completed" class="form-label">Completed:</label>
            <select asp-for="Completed" class="form-select form-select-md">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>

    </div>

    <br />

    @* Submit Button *@
    <button type="submit" class="btn btn-secondary">Add/Edit Task</button>

    @* Validate Form *@
    <div asp-validation-summary="All"></div>

</form>