@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Job

<h3>Add Task:</h3>
<div class="border-2">
    <form method="post">

        <input asp-for="JobId" type="hidden" />

        @* Job (Required) *@
        <label asp-for="JobName" class="form-label">Task Name:</label>
        <br />
        <input asp-for="JobName"/>
        <br /><br />

        @* Due Date (Not Required) *@
        <label asp-for="DueDate" class="form-label">Due Date (format mm/dd/year):</label>
        <br />
        <input asp-for="DueDate"/>
        <br /><br />

        @* Quadrant (Required) *@
        <label asp-for="Quadrant" class="form-label">Quadrant:</label>
        <br />
        <input asp-for="Quadrant"/>
        <br /><br />

        @* Category (Not Required, Dropdown: Home, School, Work, Church) *@
        <label asp-for="Category" class="form-label">Category:</label>
        <br />
        <select asp-for="Category" class="form-select-md">
            <option value="Home">Home</option>
            <option value="School">School</option>
            <option value="Work">Work</option>
            <option value="Church">Church</option>
        </select>
        <br /><br />

        @* Completed (Not Required, True/False) *@
        <label asp-for="Completed" class="form-label">Completed:</label>
        <br />
        <select asp-for="Completed" class="form-select-md">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <br />
        <br />

        @* Submit Button *@
        <button type="submit" class="btn-secondary">Add/Edit Task</button>

        @* Validate Form *@
        <div asp-validation-summary="All"></div>

    </form>
</div>